.position{
  position: relative;
}
.img, .button{
  position: absolute;
  left: 90%;
  top: 20%;
}
.active{
  cursor: pointer;
}
.active:hover {
  background-color: rgb(240,240,240);
}
.on{
  background-color: rgb(216,216,216);
}
